<div class="frame">
    <div class="social-icons">
        <a href=<%= sociallinks[0].link %> target="_blank">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href=<%= sociallinks[1].link %> target="_blank">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href=<%= sociallinks[2].link %> target="_blank">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href=<%= sociallinks[3].link %> target="_blank">
          <i class="fab fa-youtube fa-2x"></i>
        </a>
      </div>
    <img class="frame_img" src= <%= "profile/"+image %> alt="Jennifer Lawrence" />
</div>
